* {
    margin: 0px;
    padding: 0px;
}

header img {
    width: 15rem;
} 

.box {
    position: relative;
    width: 180px;
    height: 180px;
    cursor: pointer;
    box-shadow: none;
} 

.box:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
  

.loading {
    position: fixed;
    display: flex;
    align-items: center;
    margin: 200px 600px;

} 

.loading.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}